<div class="container h-screen mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <button class="flex items-center p-2 bg-indigo-50 text-indigo-700 rounded-lg hover:bg-indigo-100 transition gap-2"
      routerLink="/dashboard">
      <mat-icon class="back-arrow-size">arrow_back_ios_new</mat-icon>
      <p>Back to Dashboard</p>
    </button>
  </div>
  <mat-card class="mb-2">
    <mat-card-header>
      <mat-card-title>Spending Over Time</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex justify-between items-center mb-4">
        <form [formGroup]="filterForm">
          <app-granularity-selector [selected]="filterForm.get('granularity')!.value??'day'"
            (selectedChange)="onGranularityChange($event)"></app-granularity-selector>
        </form>
        <div class="flex gap-2">
          <button class="px-4 py-1 rounded-md bg-indigo-600 text-white flex justify-between items-center"
            mat-icon-button (click)="changeOffset(-1)">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            class="px-4 py-1 rounded-md bg-indigo-600 text-white flex justify-between items-center disabled:bg-indigo-200"
            mat-icon-button [disabled]="offset==0" (click)="changeOffset(1)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>

      <div class="h-[700px] w-full">
        <canvas id="myChart" class="h-[600px]"></canvas>
      </div>


    </mat-card-content>
  </mat-card>
</div>